/* < Hero Section > */

section.hero-container {
  padding: 48px;
  border-radius: 32px;
  background-color: var(--bg-lv2-color);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 48px;
  box-shadow: 0 0 16px #0000000a;
}

.profile-img-container > img {
  width: 285px;
  aspect-ratio: 285/447;
}

.my-info-container {
  max-width: 450px;
  display: flex;
  flex-direction: column;
}

.my-info-container span.material-icons {
  color: var(--brand-focus);
  font-size: 100%;
}

.my-info-container > h1:hover > span.material-icons {
  animation: wave 0.5s;
  animation-iteration-count: 3;
}

@keyframes wave {
  25% {
    transform: rotate(18deg);
    transform-origin: bottom left;
  }
  33% {
    transform: rotate(20deg);
    transform-origin: bottom left;
  }

  40% {
    transform: rotate(18deg);
    transform-origin: bottom left;
  }

  80% {
    transform: rotate(-5deg);
  }

  86% {
    transform: rotate(-5deg);
    transform-origin: bottom left;
  }

  100% {
    transform: rotate(0deg);
    transform-origin: bottom left;
  }
}

.my-info-container > p {
  font-size: 32px;
  padding-top: 8px;
  padding-bottom: 24px;
}

.my-info-container img {
  width: 24px;
  aspect-ratio: 1;
}

/* </ Hero Section > */

/* < My Work Carousel > */

section.work-container {
  padding: 64px 0;
}

.carousel-container {
  display: flex;
  flex-direction: column;
  gap: 32px;
  overflow: hidden;
}

/* < My Work Carousel / Header > */
header.carousel-header-container {
  display: flex;
  justify-content: space-between;
}

.carousel-navigation-btns {
  display: flex;
  gap: 12px;
}

.carousel-navigation-btns > span.material-icons {
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 32px;
  transition: transform 0.4s;
}

.carousel-navigation-btns > span.material-icons:hover {
  transform: scale(1.2);
}

/* </ Work Carousel / Header > */

/* < Work Carousel / Carousel Slides > */

.carousel-slides {
  display: flex;
  gap: 30px;
  transition: 600ms;
}

.card {
  display: flex;
  flex-direction: column;
}

img.card-img {
  width: 412px;
  aspect-ratio: 412/246;
  border-radius: 24px;
  border: 1px solid var(--brand-green);
}

.card-info {
  padding: 18px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.card-info-links {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

a.info-link {
  display: flex;
  gap: 12px;
  align-items: center;
}

i.card-icon {
  padding: 7px;
  border-radius: 6px;
  color: var(--icon-color);
  background-color: var(--bg-lv2-color);
}

a.info-link > span {
  position: relative;
}

a.info-link > span::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: var(--text-color);
  transform-origin: left;
  transform: scaleX(0);
  transition: transform 0.3s ease 0.2s;
}

a.info-link:hover span::after {
  transform: scaleX(1); /* Line fully expands */
}

.technologies-used-container {
  display: flex;
  align-items: center;
  gap: 12px;
}

.technologies-used-container > .wrapper {
  flex-shrink: 0;
  position: relative;
  z-index: 1;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  animation: mouseOut 0.2s forwards;
}

.technologies-used-container:hover > .wrapper {
  animation: mouseIn 0.3s forwards 0.2s;
}

@keyframes mouseOut {
  from {
    transform: rotate(360deg) scale(1.2);
  }

  to {
    transform: rotate(0deg) scale(1);
  }
}

@keyframes mouseIn {
  to {
    transform: rotate(360deg) scale(1.2);
  }
}

.technologies-used-container .inner {
  position: absolute;
  z-index: 2;
  left: 9px;
  top: 9px;
  width: 20px;
  height: 20px;
  background-color: var(--bg-lv1-color);
  border-radius: 12px;
}

ul.technologies-used-list {
  flex-wrap: wrap;
  gap: 12px;
}

li.technology {
  display: flex;
  align-items: center;
  gap: 4px;
}

ul.technologies-used-list i {
  font-size: 14px;
}

.technologies-used-container code {
  font-size: 15px;
}

/* </ Work Carousel / Carousel Slides > */

/* </ Work Carousel > */

@media (max-width: 1300px) {
  section.hero-container {
    padding: 40px;
  }

  .my-info-container > p {
    font-size: 28px;
    padding-top: 7px;
    padding-bottom: 21px;
  }

  .my-info-container img {
    width: 22px;
  }

  section.work-container {
    padding: 48px 0;
  }

  .carousel-navigation-btns > span.material-icons {
    padding: 10px 16px;
  }

  .carousel-container {
    gap: 26px;
  }

  img.card-img {
    width: 350px;
  }

  .card-info {
    padding: 12px;
    gap: 18px;
  }

  .card-info-links {
    gap: 10px;
  }
}

@media (max-width: 800px) {
  .my-info-container > p {
    font-size: 22px;
    padding-top: 6px;
    padding-bottom: 18px;
  }

  .my-info-container img {
    width: 22px;
  }

  section.work-container {
    padding: 48px 0;
  }

  .carousel-navigation-btns > span.material-icons {
    padding: 10px 16px;
  }

  .carousel-container {
    gap: 26px;
  }

  .card-info {
    padding: 12px;
    gap: 18px;
  }

  .card-info-links {
    gap: 10px;
  }
}

@media (max-width: 700px) {
  section.hero-container {
    flex-wrap: wrap;
  }

  .my-info-container {
    text-align: center;
    align-items: center;
  }
}

/* Mobile UI */
@media (max-width: 500px) {
  section.hero-container {
    background-color: inherit;
    box-shadow: none;
    padding: 36px 24px;
  }

  .my-info-container {
    text-align: left;
    align-items: start;
  }

  section.work-container {
    padding: 48px 24px;
  }
}

@media (max-width: 400px) {
  .profile-img-container > img {
    width: 100%;
  }

  img.card-img {
    width: calc(
      100vw - 48px
    ); /* 100% would shrink each slide so that all occupy 100% of parent. 48px = padding */
  }
}
