nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0;
  height: max-content;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 6px;
}

.k-container {
  position: relative;
  display: flex;
  align-items: center;
}

.k-container > #k-tooltip {
  position: absolute;
  top: -40px;
  left: 25%;
  width: max-content;
  background-color: var(--cta-primary-color);
  color: var(--cta-primary-text-color);
  padding: 2px 9px;
  border-radius: 30px;
  opacity: 0;
}

/* dialog speech bubble shape */
#k-tooltip::after {
  content: "";
  position: absolute;
  bottom: 1px;
  right: 40%;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-top-color: var(--cta-primary-color);
  border-bottom: 0;
  border-left: 0;
  margin-left: -5px;
  margin-bottom: -10px;
}

.k-container > img {
  height: 24px;
  aspect-ratio: 62.29/48.93;
}

.logo-container > span {
  font-size: "Poppins", sans-serif;
  font-size: 24px;
  line-height: 28px;
  font-weight: 500;
  letter-spacing: 2px;
}

.menu-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 18px;
  height: 43px;
}

ul.social-list {
  align-items: center;
  gap: 18px;
}

ul.social-list > li.social-item,
.data-theme-toggle {
  width: 24px;
  height: 24px;
}

.tooltip-container {
  position: relative;
}

.tooltip-text {
  visibility: hidden;
  width: max-content;
  background-color: var(--text-color);
  color: var(--bg-lv1-color);
  font-size: 16px;
  text-align: center;
  border-radius: 8px;
  padding: 5px 10px;
  z-index: 1;
  transform: translate(calc(-50% + 12px), 20%);
  opacity: 0;
  white-space: nowrap;
}

.menu-container li.social-item:last-child .tooltip-text {
  transform: translate(calc(-50% + 4px), 20%);
}

footer .tooltip-text {
  background-color: var(--brand-white);
  color: var(--brand-dark);
}

/* Tooltip arrow */
.tooltip-arrow {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: 37%;
  left: 50%;
  transform: translateX(-50%);
  margin-left: -1px;
  border-width: 7px;
  border-style: solid;
  border-color: transparent transparent var(--text-color) transparent;
}

footer .tooltip-arrow {
  border-color: transparent transparent var(--brand-white) transparent;
}

.tooltip-container:hover .tooltip-text,
.tooltip-container:hover .tooltip-arrow {
  visibility: visible;
  opacity: 0.9;
  transition: opacity 0.3s 0.3s;
}

.data-theme-toggle {
  position: relative;
  transition: transform 0.4s;
}

span.toggle-theme-btn {
  font-size: 30px;
  position: absolute;
  top: -4px; /* Correct vertical position. */
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.4s ease-in, visibility 0.4s;
  pointer-events: visible;
  cursor: pointer;
}

span.toggle-theme-btn.visible {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.4s ease-in, visibility 0.4s;
}

.data-theme-toggle .tooltip-text {
  position: relative;
  right: 50%;
  transform: translate(calc(-50% + 12px), 100%);
}

.data-theme-toggle .tooltip-arrow {
  transform: translate(-15%, 93%);
  top: 30%;
}

@media (max-width: 1100px) {
  nav {
    padding: 36px 0;
  }

  .menu-container,
  ul.social-list {
    gap: 16px;
  }
}

@media (max-width: 600px) {
  nav {
    flex-wrap: wrap;
    row-gap: 12px;
  }

  .mobile-1st-line-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .k-container > #k-tooltip {
    top: -25px; /* Not much space available. */
  }

  .menu-container {
    margin: 0 auto;
  }

  ul.social-list {
    gap: 70px;
  }

  .menu-container li.social-item:last-child .tooltip-text {
    transform: translate(calc(-50% + 12px), 20%);
  }

  .tooltip-arrow {
    top: 33%;
  }
}

@media (max-width: 500px) {
  nav {
    padding: 24px;
  }
}

/* Hide all tooltip elements on devices that their primary select method isn't a mouse, i.e. smartphones, tablets. */
@media (pointer: coarse) {
  .tooltip-text,
  .tooltip-arrow {
    display: none;
  }
}
